<article>
    <h3>
        <a href="{{link}}">{{title}}</a>
    </h3>
    <p>
        <strong>Source:</strong> {{ source }} {{#if score}} | Score: {{ score }} {{/if}} |
        <button class="remove-article" data-article-id="{{id}}">Remove</button>
    </p>
</article>