<article>
    <h3>
        <a href="{{link}}">{{title}}</a>
    </h3>
    <p>
        <strong>Source:</strong> {{ source }} {{#if score}} | Score: {{ score }} {{/if}} |
        <button class="like-article" data-article-id="{{id}}">Like</button> |
        <button class="save-article" data-article-id="{{id}}">Save</button>
    </p>
</article>